In [1]:
import pandas as pd
import numpy as np

In [8]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv(r"C:\Users\U6056186\Downloads\covid_toy.csv")

In [3]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [25]:
df.nunique()

age          55
gender        2
fever         7
cough         2
city          4
has_covid     2
dtype: int64

In [10]:
X_train,X_test,y_train,y_test= train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.2)

# 1. Aam Zindagi

In [13]:
si =SimpleImputer()

In [15]:
train_fever = si.fit_transform(X_train[['fever']])
test_fever= si.fit_transform(X_test[['fever']])

In [18]:
train_fever.shape

(80, 1)

In [22]:
oe = OrdinalEncoder(categories=[['Mild','Strong']])
train_cough = oe.fit_transform(X_train[['cough']])
test_cough = oe.fit_transform(X_test[['cough']])
train_cough.shape

(80, 1)

In [23]:
ohe = OneHotEncoder(drop='first',sparse=False)

In [24]:
train_gencity= ohe.fit_transform(X_train[['gender','city']])
test_gencity= ohe.fit_transform(X_test[['gender','city']])
train_gencity.shape

C:\Users\U6056186\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\U6056186\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 4)

In [27]:
train_age= X_train[['age']]
test_age= X_test[['age']]
train_age.shape

(80, 1)

In [32]:
X_train_transformed = np.concatenate(
    (train_age,train_gencity,train_cough,train_fever),axis=1)
X_test_transformed = np.concatenate(
    (test_age,test_gencity,test_cough,test_fever),axis=1)
X_train_transformed.shape

(80, 7)

# Mentos Zindagi

In [36]:
X_train

    age  gender  fever   cough       city
30   15    Male  101.0    Mild      Delhi
87   47    Male  101.0  Strong  Bangalore
36   38  Female  101.0    Mild  Bangalore
84   69  Female   98.0  Strong     Mumbai
85   16  Female  103.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
90   59  Female   99.0  Strong      Delhi
62   56  Female  104.0  Strong  Bangalore
75    5    Male  102.0    Mild    Kolkata
18   64  Female   98.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata

[80 rows x 5 columns]

In [33]:
from sklearn.compose import ColumnTransformer

In [47]:
ct = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [49]:
ct.fit_transform(X_train).shape

C:\Users\U6056186\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [52]:
ct.transform(X_test)

array([[100.66197183,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,  23.        ],
       [100.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  27.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  65.        ],
       [104.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  34.        ],
       [ 99.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  25.        ],
       [104.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  54.        ],
       [101.        ,   0.        ,   1.        ,   1.        ,
          0.        ,   0.        ,  19.        ],
       [101.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  64.        ],
       [102.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  69.        ],
       [100.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  13.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  31.        ],
       [103.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  50.        ],
       [ 98.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  81.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  16.        ],
       [101.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  49.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  25.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  51.        ],
       [101.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  68.        ],
       [103.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  69.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  83.        ]])