# Without Pipeline

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv(r"C:\Users\U6056186\Downloads\train.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\U6056186\\Downloads\\train.csv'

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [7]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

X_train,X_test,y_train,y_test=train_test_split(
    df.drop(columns=['Survived']),df['Survived'],test_size=0.2,random_state=42)

In [8]:
si_age = SimpleImputer()
si_emb = SimpleImputer(strategy='most_frequent')

In [9]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [10]:
ndf =df

In [11]:
ndf['Age']=si_age.fit_transform(ndf[['Age']])
ndf['Embarked'] = si_emb.fit_transform(ndf[['Embarked']])

In [12]:
ndf.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [13]:
ndf.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [14]:
ohe= OneHotEncoder(sparse=False,handle_unknown='ignore')

In [15]:
ohe.fit_transform(ndf[['Sex','Embarked']])

C:\Users\U6056186\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 1., 0., 0., 1.],
       [1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       ...,
       [1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0.],
       [0., 1., 0., 1., 0.]])

In [16]:
pd.DataFrame(ohe.fit_transform(ndf[['Sex','Embarked']]),columns=['Sex','EM1','EM2','EM3','EM4'])

C:\Users\U6056186\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

     Sex  EM1  EM2  EM3  EM4
0    0.0  1.0  0.0  0.0  1.0
1    1.0  0.0  1.0  0.0  0.0
2    1.0  0.0  0.0  0.0  1.0
3    1.0  0.0  0.0  0.0  1.0
4    0.0  1.0  0.0  0.0  1.0
..   ...  ...  ...  ...  ...
886  0.0  1.0  0.0  0.0  1.0
887  1.0  0.0  0.0  0.0  1.0
888  1.0  0.0  0.0  0.0  1.0
889  0.0  1.0  1.0  0.0  0.0
890  0.0  1.0  0.0  1.0  0.0

[891 rows x 5 columns]

In [17]:
ndf = pd.concat([ndf,pd.DataFrame(ohe.fit_transform(ndf[['Sex','Embarked']]),columns=['Sex1','EM1','EM2','EM3','EM4'])],axis=1)

C:\Users\U6056186\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [18]:
ndf

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex1,EM1,EM2,EM3,EM4
0,0,3,male,22.000000,1,0,7.2500,S,0.0,1.0,0.0,0.0,1.0
1,1,1,female,38.000000,1,0,71.2833,C,1.0,0.0,1.0,0.0,0.0
2,1,3,female,26.000000,0,0,7.9250,S,1.0,0.0,0.0,0.0,1.0
3,1,1,female,35.000000,1,0,53.1000,S,1.0,0.0,0.0,0.0,1.0
4,0,3,male,35.000000,0,0,8.0500,S,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,0.0,1.0,0.0,0.0,1.0
887,1,1,female,19.000000,0,0,30.0000,S,1.0,0.0,0.0,0.0,1.0
888,0,3,female,29.699118,1,2,23.4500,S,1.0,0.0,0.0,0.0,1.0
889,1,1,male,26.000000,0,0,30.0000,C,0.0,1.0,1.0,0.0,0.0
890,0,3,male,32.000000,0,0,7.7500,Q,0.0,1.0,0.0,1.0,0.0

In [19]:
ndf.drop(columns=['Sex','Embarked'],inplace=True)

In [20]:
ndf

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex1,EM1,EM2,EM3,EM4
0,0,3,22.000000,1,0,7.2500,0.0,1.0,0.0,0.0,1.0
1,1,1,38.000000,1,0,71.2833,1.0,0.0,1.0,0.0,0.0
2,1,3,26.000000,0,0,7.9250,1.0,0.0,0.0,0.0,1.0
3,1,1,35.000000,1,0,53.1000,1.0,0.0,0.0,0.0,1.0
4,0,3,35.000000,0,0,8.0500,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.000000,0,0,13.0000,0.0,1.0,0.0,0.0,1.0
887,1,1,19.000000,0,0,30.0000,1.0,0.0,0.0,0.0,1.0
888,0,3,29.699118,1,2,23.4500,1.0,0.0,0.0,0.0,1.0
889,1,1,26.000000,0,0,30.0000,0.0,1.0,1.0,0.0,0.0
890,0,3,32.000000,0,0,7.7500,0.0,1.0,0.0,1.0,0.0

In [21]:
X_train,X_test,y_train,y_test=train_test_split(
    ndf.drop(columns=['Survived']),ndf['Survived'],test_size=0.2,random_state=42)

In [22]:
clf =DecisionTreeClassifier()

In [23]:
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [24]:
y_pred = clf.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(y_test,y_pred)

0.770949720670391

# With Pipeline

In [39]:
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.preprocessing import StandardScaler

In [30]:
df1 = pd.read_csv(r"C:\Users\U6056186\Downloads\train.csv")

In [32]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
df1.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [34]:
X_train,X_test,y_train,y_test = train_test_split(
    df1.drop(columns='Survived'),df.Survived,test_size=0.2,random_state=42)

In [36]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
331       1    male  45.5      0      0  28.5000        S
733       2    male  23.0      0      0  13.0000        S
382       3    male  32.0      0      0   7.9250        S
704       3    male  26.0      1      0   7.8542        S
813       3  female   6.0      4      2  31.2750        S

In [75]:
trf1 = ColumnTransformer(
    [
    ('impAge',SimpleImputer(),[2]),
    ('impBark',SimpleImputer(strategy='most_frequent'),[6])
    ],
    remainder='passthrough')

In [76]:
trf2 = ColumnTransformer(
    [
    ('ohe_sex_bark',OneHotEncoder(sparse=False,handle_unknown='ignore'),[1,6])
    ],
    remainder='passthrough')

In [77]:
trf3 = ColumnTransformer(
    [
    ('Scale',MinMaxScaler(),slice(0,10))
    ])

In [78]:
trf4 = SelectKBest(score_func=chi2,k=8)

In [79]:
from sklearn import set_config
set_config(display='diagram')

In [80]:
trf5 = DecisionTreeClassifier()

In [81]:
pipe = Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5)
               ])

In [82]:
pipe.fit(X_train,y_train)

C:\Users\U6056186\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('impAge', SimpleImputer(),
                                                  [2]),
                                                 ('impBark',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('trf2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_sex_bark',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('trf3',
                 ColumnTransformer(transformers=[('Scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('trf4',
                 SelectKBest(k=8,
                             score_func=<function chi2 at 0x000002A846D404A0>)),
                ('trf5', DecisionTreeClassifier())])

In [83]:
pipe.named_steps

{'trf1': ColumnTransformer(remainder='passthrough',
                   transformers=[('impAge', SimpleImputer(), [2]),
                                 ('impBark',
                                  SimpleImputer(strategy='most_frequent'),
                                  [6])]),
 'trf2': ColumnTransformer(remainder='passthrough',
                   transformers=[('ohe_sex_bark',
                                  OneHotEncoder(handle_unknown='ignore',
                                                sparse=False),
                                  [1, 6])]),
 'trf3': ColumnTransformer(transformers=[('Scale', MinMaxScaler(), slice(0, 10, None))]),
 'trf4': SelectKBest(k=8, score_func=<function chi2 at 0x000002A846D404A0>),
 'trf5': DecisionTreeClassifier()}

In [85]:
y_pred = pipe.predict(X_test)

In [86]:
accuracy_score(y_test,y_pred)

0.6256983240223464