In [47]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

import seaborn as sns

In [48]:
df= pd.read_csv(r"C:\Users\U6056186\Downloads\train.csv",usecols=['Age','Pclass','SibSp','Parch','Survived'])

In [49]:
df.head()

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0
2         1       3  26.0      0      0
3         1       1  35.0      1      0
4         0       3  35.0      0      0

In [50]:
df.shape

(891, 5)

In [51]:
X= df.drop('Survived',axis=1)
y=df['Survived']

In [52]:
X.head()

   Pclass   Age  SibSp  Parch
0       3  22.0      1      0
1       1  38.0      1      0
2       3  26.0      0      0
3       1  35.0      1      0
4       3  35.0      0      0

# Feature Construction

In [53]:
X['Fmly_size']=X['SibSp']+X['Parch']+1

In [54]:
X.head()

   Pclass   Age  SibSp  Parch  Fmly_size
0       3  22.0      1      0          2
1       1  38.0      1      0          2
2       3  26.0      0      0          1
3       1  35.0      1      0          2
4       3  35.0      0      0          1

In [55]:
def myfn(num):
    if num==1:
        return 0
    elif num>1 and num<=4:
        return 1
    else:
        return 2

In [56]:
myfn(5)

2

In [57]:
X['Fmly_type']= X['Fmly_size'].apply(myfn)

In [58]:
X.head()

   Pclass   Age  SibSp  Parch  Fmly_size  Fmly_type
0       3  22.0      1      0          2          1
1       1  38.0      1      0          2          1
2       3  26.0      0      0          1          0
3       1  35.0      1      0          2          1
4       3  35.0      0      0          1          0

In [59]:
X.drop(['SibSp','Parch','Fmly_size','Age'],axis=1,inplace=True)

In [60]:
X.head()

   Pclass  Fmly_type
0       3          1
1       1          1
2       3          0
3       1          1
4       3          0

In [63]:
cross_val_score(LogisticRegression(),X,y,cv=20,scoring='accuracy').mean()

0.6816919191919191

In [66]:
np.mean(cross_val_score(LogisticRegression(),X,y,cv=20,scoring='accuracy').mean())

0.6816919191919191

In [41]:
y.shape

(891,)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [45]:
X.isna().sum()

Pclass         0
Age          177
Fmly_type      0
dtype: int64

# Feature splitting

In [68]:
df= pd.read_csv(r"C:\Users\U6056186\Downloads\train.csv")

In [69]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [99]:
df['Title']=df["Name"].str.split(',',expand=True)[1].str.split('.',expand=True)[0]

In [101]:
df.Title.value_counts()

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Mlle              2
 Major             2
 Col               2
 the Countess      1
 Capt              1
 Ms                1
 Sir               1
 Lady              1
 Mme               1
 Don               1
 Jonkheer          1
Name: Title, dtype: int64

In [112]:
df.groupby('Title').mean()['Survived'].sort_values(ascending=False)

C:\Users\U6056186\AppData\Local\Temp\ipykernel_14168\65197772.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Title').mean()['Survived'].sort_values(ascending=False)

Title
 the Countess    1.000000
 Mlle            1.000000
 Sir             1.000000
 Ms              1.000000
 Lady            1.000000
 Mme             1.000000
 Mrs             0.792000
 Miss            0.697802
 Master          0.575000
 Col             0.500000
 Major           0.500000
 Dr              0.428571
 Mr              0.156673
 Jonkheer        0.000000
 Rev             0.000000
 Don             0.000000
 Capt            0.000000
Name: Survived, dtype: float64

0         Mr
1        Mrs
2       Miss
3        Mrs
4         Mr
       ...
886      Rev
887     Miss
888     Miss
889       Mr
890       Mr
Name: 0, Length: 891, dtype: object

In [95]:
df["Name"].head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object